#app {
  width: 600px;
  height: auto;
  margin: 50px auto;
  background-color: rgb(237,111,0);
  padding-bottom: 25px;
  border-radius: 20px;
  color: white;
}

#recipe-ingredients {
  color: black;
}

@media (max-width: 600px) {
  #app {
    width: 95vw;

  }
}
